.io-iframe-scrolling-overlay-container {
    position: relative;
}

.io-iframe-scrolling-overlay-container > .blur {
    filter: blur(1px);
}

.io-iframe-scrolling-overlay {
    bottom: 0;
    cursor: pointer;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.io-iframe-scrolling-overlay.not-clickable {
    pointer-events: none;
}

.io-iframe-scrolling-overlay > .curtain-left,
.io-iframe-scrolling-overlay > .curtain-right {
    background-color: rgba(255,255,255,0.4);
    height: 100%;
    position: absolute;
    top: 0;
    transition: transform 300ms ease-in-out;
    width: 50%;
}

.io-iframe-scrolling-overlay > .curtain-left.dark,
.io-iframe-scrolling-overlay > .curtain-right.dark {
    background-color: rgba(11,11,11,0.4);
}


.io-iframe-scrolling-overlay > .curtain-left.slightly-opened,
.io-iframe-scrolling-overlay > .curtain-right.slightly-opened {
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.io-iframe-scrolling-overlay > .curtain-left.slightly-opened {
    transform: translateX(-20%);
    animation-name: left-curtain-wiggle;
}

.io-iframe-scrolling-overlay > .curtain-right.slightly-opened {
    transform: translateX(20%);
    animation-name: right-curtain-wiggle;
}

.io-iframe-scrolling-overlay > .curtain-left.opened {
    transform: translateX(-100%);
}

.io-iframe-scrolling-overlay > .curtain-right.opened {
    transform: translateX(100%);
}

.io-iframe-scrolling-overlay > .curtain-left {
    left: 0;
}

.io-iframe-scrolling-overlay > .curtain-right {
    right: 0;
}

.io-iframe-scrolling-overlay > .curtain-left.closed,
.io-iframe-scrolling-overlay > .curtain-right.closed {
    transform: translateX(0);
}

@keyframes left-curtain-wiggle {
    0% { left: 0;}
    50% { left: -2%;}
    100% { left: 0;}
}

@keyframes right-curtain-wiggle {
    0% { right: 0;}
    50% { right: -2%;}
    100% { right: 0;}
}
